{% extends 'base.html.twig' %}

{% block title 'Créer une nouvelle question' %}

{% block body %}

    <div class="container mt-4">

        <h1>Nouvelle question {{ question.id }}</h1>

        {{ include ('admin/question/_form.html.twig', {form: form}) }}
    </div>

{% endblock %}