{% extends 'base.html.twig' %}

{% block body %}

    <div class="row m-4">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questions</h5>
                    <p class="card-text">Accéder à l'administration des questions et de leurs
                    réponses.</p>
                    <a href="{{ path('admin.question.index') }}" class="btn btn-primary">Administration des questions</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <p class="card-text">Accéder à l'administration des utilisateurs ainsi que des
                        droits qui leurs sont attribués.</p>
                    <a href="{{ path('admin.user.index') }}" class="btn btn-primary">Administration des utilisateurs</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}Administration du site{% endblock %}

